{% extends "wall/include.html" %}
{% block body %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3>PRIVACY POLICY</h3>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<p>
				Updated at 2020-12-28<br>
				We are committed to protecting your privacy. This privacy policy explains how your personal information is collected, used, and disclosed by jumble. By accessing our service, you signify that you have read, understood, and agree to our collection, storage, use, disclosure of your personal information as described in this Privacy Policy and our Terms of Service
			</p>
		</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			What information do we collect?<br>
			We collect information from when you visit our service, register, place an order.<br>
			Name / Username<br>
			Email Address
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			How we use the collected set of personal data?<br>
			To enhance or improve our users' experiences.<br>
			To provide our service to you.<br>
			To contact you and to respond to inquiries by email.<br>
			To document any communication we have commenced with you.<br>
			To process transactions.<br>
			To register your account and enable your use of our service.<br>
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<p>
				When do we use customer information from third parties?<br>
				We receive some information from third parties when you contact us. For example when you submit your email address to us. we receive information from the third party that provides automated fraud detection services to us.
			</p>
		</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			Where and when is information collected from customers and end users?<br>
			We will collect personal information that you submit to us. We may also receive personal information about you from third parties as described above.
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			How do we use your email address?
			By submitting your email address you agree to receive emails from us. We send emails to users who have authorized us to contact them.
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			Is the information collected through our service secure?<br>
			We take precautions to protect the security of your information. We will maintain data security, and correctly use your information. However, neither people nor security systems are foolproof, including encryption systems. We will use reasonable efforts to protect your personal information. 
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			Session Cookies
			Our websites use "session cookies", which improve your user experience by storing certain information from your current visit on your device, such as login information. These enable us to remember your login session so you can move easily within our websites or services. These session cookies have limited functionalities and expirations, and you will be required to re-enter your login information after a certain period of time.
		</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p>
			Kids' Privacy<br>
			We do not address anyone under the age of 13. We do not knowingly collect personal information from anyone under the age of 13.
		</p>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}